 /*General styling start*/
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 :root{
    --primary-color: cornflowerblue;
    --secondary-color: mediumslateblue;
    --tertiary-color: blue;
    --color-4: black;
    --color-5: rgba(126, 117, 117, 0.5);
    --color-6: darkblue;
    --color-7: rgb(91, 27, 150);
}

 body{
     background-color: var(--primary-color);
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }

 a{
     text-decoration: none;
     font-size: 25px;
     color: var(--color-4);
 }

 h2{
    background-color: var(--tertiary-color);
    display: inline-block;
    color: var(--primary-color);
    padding:25px 25px 25px 50px;
    margin-top: 50px;
    border-radius: 0 15px 15px 0;
}

button{
    background-color: var(--color-5);
    border: 3px solid var(--color-4);
    border-radius: 10px;
    padding: 10px;
    font-size: 23px;
 }
 /*General styling end*/

 /* Header section styling start*/
 header{
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     height: 100px;
     background-color: var(--secondary-color);
 }

 /* Navbar section styling start*/
 .navbar-container{
     list-style: none;
 }

 .navbar-container a {
     padding: 15px;
 }
 .navbar-container a:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 15px;

 }
 /* Navbar section styling end*/
 /* Header section styling end*/

 /*12-Tone-Row section styling start*/
.input-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

 .input-container{
     background-color: var(--color-5);
     border: 3px solid var(--color-4);
     border-radius: 15px;
     height: 150px;
     width: 80%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 .reset-button-container{
     height: 150px;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }


 .pitches{
     height: 120px;
     width: 6%;
     background-color: var(--secondary-color);
     border: 3px solid var(--tertiary-color);
     border-radius: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 3vw;
 }

 .pitches:hover{
     background-image: radial-gradient(var(--secondary-color),var(--color-7));
     border: 3px solid var(--color-6);
 }


 .mode-container{
     height: 150px;
     display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
 }

 .mode-button{
    padding: 3px;
    font-size: 20px;
 }
/*12-Tone-Row section styling end*/

/*Generate button section styling start*/
 .generate-button{
     text-align: center;
 }
 
 .gen{
    font-size: 30px;
 }
/*Generate button section styling end*/

/*Media queries*/
 @media print{
     .input {
         display:none;
     }
     header{
         display:none;
     }
     .generate-button{
         display: none;
     }
     .play-button{
         display: none;
     }
     .matrix-table{
         width: 500px;
         height: 500px;
         border-collapse: collapse;
     }
     .matrix-cell{
        border: 1px solid var(--color-4);
     }

 }


@media screen and (max-width: 768px) {
    .pitches{
        width: 8%;
    }
    .navbar-container a {
        padding: 5px;
    }
    .input h2{
        border-radius: 0;
    }
}

@media screen and (max-width: 575px) {
    .mode-container{
        align-items: center;
    }
    .mode-button{
        padding: 0;
    }

}

